git*.classpath
*.project
.settings
.project
.target
.classpath
*.MF
**/.settings
**/.classpath
**/.eclipse
**/target/
**/test-output
target/
bin/
.idea/
*.iml
.idea/**
.idea
logs/**
evcard-shop-service/log/evcard-membership.log
evcard-shop-service/log/evcard-membership.log.2018-03-23
log/
